<div class="container-fluid">
  <h3>Register user</h3>
  <form [formGroup]="form" *ngIf="isForm | async; else loading" (submit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input class="form-control" id="firstName" formControlName="firstName">
        <app-field-error-display [displayError]="isFieldValid(form, 'firstName', 'required')" errorMsg="Please inform your firstName">
        </app-field-error-display>
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input class="form-control" id="lastName" formControlName="lastName">
        <app-field-error-display [displayError]="isFieldValid(form, 'lastName', 'required')" errorMsg="Please inform your lastName">
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" formControlName="username">
      <app-field-error-display [displayError]="isFieldValid(form, 'username', 'required')" errorMsg="Please inform your username">
      </app-field-error-display>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input class="form-control" id="password" formControlName="password">
        <app-field-error-display [displayError]="isFieldValid(form, 'password', 'required')" errorMsg="Please inform your password">
        </app-field-error-display>
        <app-field-error-display [displayError]="isFieldValid(form, 'password', 'matchpassword')" errorMsg="Please set valid password">
        </app-field-error-display>
      </div>
      <div class="form-group col-md-6">
        <label for="confirmPassword">Confirm Password</label>
        <input class="form-control" id="confirmPassword" formControlName="confirmPassword">
        <app-field-error-display [displayError]="isFieldValid(form, 'confirmPassword', 'required')" errorMsg="Please inform your confirm password">
        </app-field-error-display>
        <app-field-error-display [displayError]="isFieldValid(form, 'confirmPassword', 'passwordpattern')" errorMsg="Please set valid equal password">
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group text-right">
      <button class="btn btn-success" type="submit">Guardar</button>
      <button class="btn btn-dark" type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>